<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mega-Sena CalcBank</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/" id="logo">
        <img src="/img/logo.png" alt="logo" />
      </a>
      <ul>
        <li><a href="/">Jogar</a></li>
        <!-- URLs para autenticação -->
        {{#if session.userid}}
          <li><a href="/thoughts/dashboard">Dashboard</a></li>
          <li><a href="/logout">Sair</a></li>
        {{else}}
          <li><a href="/about">Sobre</a></li>
        {{/if}}
      </ul>
    </nav>
    <div class="container">
      <!-- Messages -->
      {{#if messages.message}}
        <div class="message">
          {{messages.message}}
        </div>
        <br />
      {{/if}}
      {{{body}}}
    </div>
    <footer>
      <p><span>Mega-Sena Luck</span> &copy; 2024</p>
    </footer>
  </body>
  <script src="/script/script.js" defer></script>
</html>