<section class="about">
  <h1>Sobre</h1>
  <p><strong>Desenvolvedor:</strong> <span>Gil Porto</span></p>

  <p><strong>GitHub:</strong>
    <a
      href="https://github.com/gilbmporto/"
      target="_blank"
      class="github-link"
    >https://github.com/gilbmporto/</a></p>

</section>